<!DOCTYPE html>
<head>
    <title>MEN_Example</title>
    <meta charset="utf-8">
    <script>

    </script>
</head>
<body>
    <form action="/api/auth/login" method="POST">
        <div id="container">
            <label for="username">ID : </label>
            <input type="text" id="username" name="username" required>
            <label for="password">PW : </label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </div>
    </form>
    <button id="registerBtn" name="registerBtn" onclick="location.href='/register'">Register</button>
</body>
