<!DOCTYPE html>
<header>
    <meta charset="utf-8">
    <title>Logged-in</title>
</header>
<body>
    <H1>Hello!</H1>
    <H2>Your Username : <%= username %></H2>
    <a href="/api/auth/logout" style="font-size:large;background-color: brown;"> Logout </a>
</body>